$omfPurple: #9356DC;
$lightPurple: #a373dc;
$omfPink: #FF79DA;
$lightPink: #fface8;
$omfTeal: #99E2D0; 
$lightGray: #f6f6f6;
$darkGray: #eaeaea;
$darkerGray: #8d8d8d;
$lavender: #f5edff;

$font-stack: 'Roboto', Arial, sans-serif;