$omfPurple: #9356DC;
$lightPurple: #9f6edb;
$omfPink: #FF79DA;
$lightPink: #fa98de;
$lightGray: #f6f6f6;
$darkGray: #eaeaea;
$darkerGray: #8d8d8d;
$darkestGray: #353535;
$lavender: #f5edff;
$newGreen: #008766;
$newTeal: #99e2d0;

$font-stack: 'Roboto', Arial, sans-serif;
$logo-font: 'Shrikhand', Times, serif;