@import "colorsfonts";

@keyframes load-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
body {
    animation-duration: 3s;
    animation-name: load-fade;
    animation-fill-mode: forwards;
}

.explore-btn {
    font-family: $font-stack;
    color: white;
    border-radius: 35px;
    padding: 15px 20px;
    background-image: linear-gradient($omfPink, $omfPurple);
    border: none;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .2);
}
.explore-btn:hover {
    background-image: linear-gradient($lightPink, $lightPurple);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .4);
}

.hiw-h {
    margin-top: 0;
    padding-top: 0;
}

.hiw-icon {
    color: $darkerGray;
}

.hiw-label { 
    background-color: $lightGray;
    padding: 10px 60px 10px 40px;
    margin-left: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .1);
}

.hiw-label-txt {
    font-weight: 500;
    margin-left: 20px;
}

.hiw-num {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: $omfPurple;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
}

.hiw-num-txt {
    font-family: $font-stack;
    color: white;
}

.hiw-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 50px 20px;
    max-width: 100%;
}

.hiw-step {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.hiw-step:hover {
    .hiw-icon {
        color: $omfPurple;
    }
    .hiw-label {
        background-color: $lavender;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .3);
    }
}

.hiw-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.intro-blurb {
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 35px 20px;
}

.intro-text {
    font-size: 18px;
}

.intro-sec {
    text-align: center;
}

.location{
    background-color:  $darkGray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .2);
}

.location-text { 
    font-family: $font-stack;
    font-weight: 500;
}

.new-ribbon {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $newTeal;
    padding: 6px 25px;
    border-radius: 5px;
}

.rest-bottom {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rest-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}
 
.rest-location {
    margin-top: 0;
    margin-bottom: 0;
}

.rest-name {
    margin-bottom: 5px;
    color: black;
}

.rest-pic {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    position: relative;
    height: 200px;
    object-fit: cover;
}

.rest-sec-h {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.rest-sec {
    background-color: $lightGray;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.rest-top {
    position: relative;
}

.ribbon-text {
    font-family: $font-stack;
    color: $newGreen;
    font-weight: bold;
}

#iconLocation {
    margin-right: 15px;
}

//Tablet styling
@media (min-width: 769px) and (max-width: 992px)
{
    .intro-text {
        font-size: 20px;
        margin-top: 0;
    }

    .hiw-label-txt {
        font-size: 110%;
        font-weight: 500;
        margin-left: 20px;
    }
    
    .hiw-sec {
        align-items: center;
    }

    .hiw-wrapper {
        width: 80%;
        align-items: center;
        gap: 20px;
    }

    .rest-card {
        width: 80%;
    }

    .rest-desc {
        font-size: 115%;
    }

    .rest-pic {
        height: 280px;
    }

    .rest-sec {
        align-items: center;
    }

    .rest-sec-h {
        text-align: center;
    }
}