@import "colorsfonts";

main {
    position: relative;
}

.arrow-container {
    width: 30%;
}

.entrees {
    padding: 0 20px 20px 20px;
}

.header-img-rest {
    width: 100%;
    padding: 20px 0;
}

.menu-group-name {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.menu-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 5px 20px;
    color: black;
}

.menu-item {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.menu-item-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.menu-item-name {
    font-weight: bold;
    font-size: 110%;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.menu-item-price {
    font-weight: bold;
}

.menu-item-select {
    background-color: $newTeal;
    border-radius: 0 15px 15px 0;
    width: 20%;
    i {
        color: white;
        font-size: 150%;
        padding: 20px;
        text-align: center;
    }
}

.menu-sec-h {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-underline {
    border-top: 3px;
    border-style: solid;
    border-color: $newTeal;
    margin-top: 0;
    margin-left: 0;
    width: 12%;
}

.rest-img {
    width: 100%;
}

.rest-fave-line {
    font-size: 150%
}

.rest-menu {
    background-color: $lightGray;
    border-radius: 25px 25px 0 0;
    position: absolute;
    width: 100%;
    top: 200px;
}

.rest-name {
    font-family: $logo-font;

}

.rest-page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#arrowBast {
    color: black;
    font-size: 150%;
    margin-left: 20px;
}