@import "colorsfonts";

h2 {
    font-family: $font-stack;
}

p {
    font-family: $font-stack;
}

.explore-btn {
    font-family: $font-stack;
    color: white;
    border-radius: 35px;
    padding: 15px 20px;
    background-image: linear-gradient($omfPink, $omfPurple);
    border: none;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .2);
}
.explore-btn:hover {
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .4);
}

.header-image {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hiw-icon {
    color: $darkerGray;
}

.hiw-label { 
    background-color: $lightGray;
    padding: 10px 60px 10px 40px;
    margin-left: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .1);
}

.hiw-label-txt {
    font-weight: 500;
    margin-left: 20px;
}

.hiw-num {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: $omfPurple;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
}

.hiw-num-txt {
    font-family: $font-stack;
    color: white;
}

.hiw-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    max-width: 100%;
}

.hiw-step {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.hiw-step:hover {
    .hiw-icon {
        color: $omfPurple;
    }
    .hiw-label {
        background-color: $lavender;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .3);
    }
}

.intro-blurb {
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 35px 20px;
}

.intro-text {
    font-size: 18px;
}

.intro-sec {
    text-align: center;
}

.location{
    background-color:  $darkGray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .2);
}

.location-text { 
    font-family: $font-stack;
    font-weight: 500;
}

#iconLocation {
    margin-right: 15px;
}




