@import "colorsfonts";

footer {
    color: white;
    background-color: $darkestGray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 20px;
}

h2 {
    font-family: $font-stack;
}

p {
    font-family: $font-stack;
}

.footer-bottom-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.footer-bottom-txt {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-top-items {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.footer-top-txt {
    margin-left: 15px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header-image {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-text {
    font-family: $logo-font;
    margin-top: 0;
    padding-top: 0;
}



