@import "colorsfonts";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: $font-stack
}

footer {
    color: white;
    background-color: $darkestGray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 20px;
}

h2 {
    font-family: $font-stack;
}

p {
    font-family: $font-stack;
}

.footer-bottom-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.footer-bottom-txt {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
}

.footer-top-items {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.footer-top-txt {
    margin-left: 15px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header-img {
    width: 100%;
    padding: 20px 0;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-icon {
    font-size: 200%;
}

.rest-h-icon {
    font-size: 24px;
}

.logo-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-text {
    font-family: $logo-font;
    margin-top: 0;
    padding-top: 0;
}

.placeholder {
    width: 30%;
}

.rest-fave-line {
    display: block;
}

.rest-icon {
    color: black;
    cursor: pointer;
}
.rest-icon:hover {
    .rest-fave-line {
        display: none;
    }
    #restFaveSolid1, #restFaveSolid2, #restFaveSolid3, #restFaveSolid4 {
        display: block;
    }
}

.top-items-l {
    width: 5%;
}

.top-items-r {
    width: 95%;
}

#restFaveSolid1, #restFaveSolid2, #restFaveSolid3, #restFaveSolid4 {
    display: none;
    background: linear-gradient(180deg, $omfPurple, $omfPink);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

//Tablet styling
@media (min-width: 769px) and (max-width: 992px)
{
    .header-img {
        width: 60%;
    }
    
    .top-items-l {
        width: 2%;
    }

    .top-items-r {
        width: 98%;
    }
}

//Desktop styling
@media (min-width: 993px)
{
    h2 {
        font-size: 180%;
    }

    .header-img {
        width: 30%;
    }

    .footer-bottom-items, .footer-top-items {
        font-size: 120%;
    }

    .rest-h-icon {
        font-size: 200%;
    }
    
    .top-items-l {
        width: 1%;
    }

    .top-items-r {
        width: 99%;
    }
}